P{
    text-align: center;
}
ol,ul{
    text-align: center;
}
body{
    background-color: coral;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
img{
    border-radius: 20px;
}
h2{
    text-align: center;
}
.cake{
    position: relative;
    left: 800px;
}
a{
    font-size: 20px;
    text-decoration: none;
}
.IND{
    position: relative;
    left:200px;
}
.ind{
    position: relative;
    right:350px;
}
.source{
    text-align: center;
}